<h3>Changes in settings:</h3>
<xmp class="result">{{!result}}</xmp>
<form action="/">
 <div class="buttons"><input type="submit" value="Back" /> <div class="version">v. {{!version}}</div></div>
</form>